body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.App {
  display: grid;
  grid-template-areas: 'nav' 'con';
  background-color: #EEEEEE;
}

.customBtn {
  background-color: transparent;
  color: #FF8F00;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}